a {
  text-decoration: none;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

header {
  padding: 24px 4%;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
  gap: 40px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

nav {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}

footer {
  display: none;
}

.primary-color {
  color: #0290ff;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  background-color: white;
}

.container {
  padding: 4%;
}
