.book {
  background-color: white;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: bold;
  color: #121212;
}

.book-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-author {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.button-outline {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.vertical-divider {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.current-chapter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 14rem;
}

.current-chapter-label {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.813rem;
  color: #121212;
  opacity: 0.5;
}

.current-chapter {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 0.438rem;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.4px;
}

.primary-button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

.circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border: solid 5px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  transform: rotate(45deg);
}

.percent-complete {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completed {
  font-family: "Montserrat", sans-serif;
  font-size: 00.875rem;
  opacity: 0.5;
  color: #121212;
}
